/* WebKit (Safari/Chrome) */
::-webkit-scrollbar {
    width: 0.5rem;    /* For vertical scrollbar */
    height: 0.5rem;   /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
    margin: 0.5rem auto;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(126, 126, 126, 0.2);
    border-radius: 100px;
}

/* Firefox */
::-moz-scrollbar {
    width: 0.5rem;
    /* Note: Firefox support for scrollbar styling is limited */
}

/* Internet Explorer & Edge */
::-ms-scrollbar {
    width: 0.5rem;
    /* For horizontal scrollbar in these browsers, styling options are limited */
}

/* Generic */
scrollbar {
    width: 0.5rem;
}

/* Hide scrollbar on mobile screens */
@media screen and (max-width: 768px) {
    ::-webkit-scrollbar,
    ::-moz-scrollbar,
    ::-ms-scrollbar,
    scrollbar {
        display: none;
    }
}


